#slider{background-color: #fffef2;}
#content1{margin-top: 35px;
            margin-left: 100px;}
#content2{margin-top: 40px;
                margin-left: 50px;}
#content3{margin-top: 40px;
                    margin-left: 50px;}
#p{margin-left: 80px; }
