#slider{background-color: #fffef2;}
#content1{margin-top: 10px;
            margin-left: 100px;}
#content2{margin-top: 60px;
                margin-left: 150px;}
#content3{margin-top: 40px;
                    margin-left: 150px;}
#p{margin-left: 80px; }
